<%- include("header"); -%>


    <h1>blahh</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, expedita rem cumque repellat quidem asperiores quae quia voluptates exercitationem reiciendis consectetur temporibus ipsum nisi dolor veniam. Officia voluptatem adipisci asperiores.</p>


    <%- include("footer"); -%>